.credit-card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../../../assets/abstract2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4em;

    form {
        padding: 1.5em;
        border-radius: 10px;
        background: aliceblue;
    }

    img.card-type {
        width: 5em;
        height: 5em;
        border-radius: 5px;
    }

    div{
        margin-bottom: 20px;

        input{
            border-radius: 8px;
            height: 50px;
            width: 100%;
            outline: 0;
            border: .2px solid grey;
            padding: 15px;
            font-size: 20px;
            background-color: #f5fbf9;
        }
    }

}

.card-details {
    margin: 1rem;
    background-image: url('../../../assets/abstract1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em;
    width: 50%;
    border-radius: 8px;
    text-shadow: 2px 2px 1px black;

    div{
        margin-top: 1em;
        display: grid;
    }

    .cvv-exp {
        display: flex;
        justify-content: space-between;
    }

    label, h2 {
        color: #fff;
    }
}




@media screen and (max-width: 32em) {
    .credit-card-container {
        display: block;
        padding: 1em;
    }

    .card-details{
        width: 95%;
    }
    .cvv-exp {
        display: block;
    }
}