.credit-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    div{
        margin-bottom: 20px;
        display: grid;

        input{
            border-radius: 8px;
            height: 50px;
            width: 360px;
            outline: 0;
            border: .2px solid grey;
            padding: 15px;
            font-size: 20px;
            background-color: #f5fbf9;
        }
    }

}