header{
    background: aquamarine;
    width: 100%;
    height: 6rem;
    text-align: center;
    color: black;
    font-size: 30px;

    h2{
        background: none;
        padding-top: 10px;
    }
}