/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    width: 100%;
    height: 3.5rem;
    border-radius: 8px;
    border: 0;
    color: #fff;
    background: linear-gradient(18deg, #8f2fff, #5d4dff);
    font-size: 20px;
    font-weight: 600;
    box-shadow: 2px 20px 12px -19px lightslategrey;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:focus{
        transform: scale(1);
    }
    &:active{
        transform: scale(.9)
    }
}
